<div class="header">
    <div class="header_block">
        <div class="header_block__logo">donut &#x2122;</div>
        <div class="header_block__notification" onclick="showAlert()">
            <i class="material-icons">
                notifications_none
            </i>
        </div>
        <div id="hidden">
            The duck was deleted with success!
        </div>
    </div>
</div>