<div class="content">
    <div class="firstblock">
        <div class="firstblock_container">
            <div class="firstblock_container__left">
                <div class="firstblock_container__left--header">donut</div>
                <div class="firstblock_container__left--email">
                    <input type="email" placeholder="Email" required="required">
                </div>
                <div class="firstblock_container__left--password">
                    <input type="password" placeholder="Password" required="required">
                </div>
                <div class="firstblock_container__left--options">
                    <div class="firstblock_container__left--options--recovery">
                        <a href="http://"><p>Forgot my password!</p></a>
                    </div>
                    <div class="firstblock_container__left--options--signin">
                        <a href="http://"><p>Sign In</p></a>
                    </div>
                </div>
            </div>
            <div class="firstblock_container__right">
                <div class="firstblock_container__right--header">donut</div>
                <div class="firstblock_container__right--name">
                    <input type="text" placeholder="Name" required="required">
                </div>
                <div class="firstblock_container__right--email">
                    <input type="email" placeholder="Email" required="required">
                </div>
                <div class="firstblock_container__right--password">
                    <input type="password" placeholder="Password" required="required">
                </div>
                <div class="firstblock_container__right--passwordconfirm">
                    <input type="password" placeholder="Re-enter Password" required="required">
                </div>
                <div class="firstblock_container__right--signup">
                    <a href="http://"><p>Sign up</p></a>
                </div>
            </div>
        </div>
    </div>

    <div class="secondblock">
        <div class="secondblock_container">
            <a href="http://yummy.com"><img src="../media/background.PNG" alt="gogoasa"></a>
        </div>
    </div>

    <div class="thirdblock">
        <div class="thirdblock_container">
            <div class="thirdblock_container__flexed">
                <div class="thirdblock_container__flexed--header">
                    Dispatched entreaties boisterous say why stimulated. Certain forbade
                    picture now prevent carried.
                </div>
                <div class="thirdblock_container__flexed--text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Similique cum repellat blanditiis, quasi tenetur incidunt
                    saepe autem commodi quibusdam eum rem aliquam quae 
                    facilis dolore iusto a perferendis, sit delectus.
                </div>
            </div>
            <div class="thirdblock_container__flexed">
                <div class="thirdblock_container__flexed--header">
                    Civility vicinity graceful is it at. Improve up to a mention perhaps raising.
                </div>
                <div class="thirdblock_container__flexed--text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Similique cum repellat blanditiis, quasi tenetur incidunt
                    saepe autem commodi quibusdam eum rem aliquam quae 
                    facilis dolore iusto a perferendis, sit delectus.
                </div>
            </div>
            <div class="thirdblock_container__flexed">
                <div class="thirdblock_container__flexed--header">
                    Certain forbade picture now prevent carried she get see sitting.
                    Up twenty limits as months.
                </div>
                <div class="thirdblock_container__flexed--text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Similique cum repellat blanditiis, quasi tenetur incidunt
                    saepe autem commodi quibusdam eum rem aliquam quae 
                    facilis dolore iusto a perferendis, sit delectus.
                </div>
            </div>
        </div>
    </div>

    <div class="fourthblock">
        <div class="fourthblock_container">
            <div class="fourthblock_container__field">
                <div class="fourthblock_container__field--header">
                    Add a donut
                </div>
                <div class="fourthblock_container__field--subheader">
                    don't take too long 
                </div>
                <div class="fourthblock_container__field--selection">
                    Select a donut!
                </div>
                <div class="fourthblock_container__field--donut">
                    <div class="fourthblock_container__field--container">
                        <img src="../media/donut1.jpeg">
                    </div>
                    <div class="fourthblock_container__field--container">
                        <img src="../media/donut2.jpg">
                    </div>
                    <div class="fourthblock_container__field--container">
                        <img src="../media/donut3.jpg">
                    </div>
                </div>
                <div class="fourthblock_container__field--content">
                    Can you eat this?
                </div>
                <div class="fourthblock_container__field--realitycheck">
                    <div><input type="checkbox"></div> <span>Yes</span>
                    <div><input type="checkbox"></div> <span>No</span>
                </div>
                <div class="fourthblock_container__field--name">
                    <input type="text" placeholder="Name">
                </div>
                <div class="fourthblock_container__field--price">
                    <input type="number" placeholder="Price">
                </div>
                <div class="fourthblock_container__field--create">
                    <a href="http://"><p>Create</p></a>
                </div>
            </div>
        </div>
    </div>
</div>